<%= form_for(beneficiary) do |f| %>
  <% if beneficiary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beneficiary.errors.count, "error") %> prohibited this beneficiary from being saved:</h2>

      <ul>
      <% beneficiary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :apellido %>
    <%= f.text_field :apellido %>
  </div>

  <div class="field">
    <%= f.label :rut %>
    <%= f.text_field :rut %>
  </div>

  <div class="field">
    <%= f.label :fecha_nac %>
    <%= f.date_select :fecha_nac %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
