<!DOCTYPE html>
<html>
<head>
	<title>Datos Beneficiario</title>
</head>
<body>
	<div class="container">

	    <h1>Datos Beneficiario</h1>
	    <br>
		<p id="notice"><%= notice %></p>

		<p>
          <div class="field">
  	      <strong>Nombre: </strong>
  	      <%= @beneficiary.nombre %>
          </div>
        </p>

        <p>
          <div class="field">
          <strong>Apellido:</strong>
          <%= @beneficiary.apellido %>
          </div>
        </p>

        <p>
          <div class="field">
          <strong>Rut:</strong>
          <%= @beneficiary.rut %>
          </div>
        </p>

        <p>
        <div class="field">
         <strong>Fecha nac:</strong>
         <%= @beneficiary.fecha_nac %>
         </div>
        </p>

        <%= link_to 'Editar', edit_beneficiary_path(@beneficiary) %> |
        <%= link_to 'Volver', beneficiaries_path %>
	</div>
</body>
</html>