<%= form_for(objective) do |f| %>
  <% if objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
      <% objective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :texto %>
    <%= f.text_area :texto %>
  </div>

  <div class="field">
    <%= f.label :zone_id %>
     <%= collection_select( :objective, :zone_id, Zone.all, :id, :nombre, { :multiple => false }, { :class => "my-custom-class" } ) %>
  </div>

  <div class="field">
    <%= f.label :classification_id %>
    <%= collection_select( :objective, :classification_id, Classification.all, :id, :nombre, { :multiple => false }, { :class => "my-custom-class" } ) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
