<p id="notice"><%= notice %></p>

<p>
  <strong>Texto:</strong>
  <%= @objective.texto %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @objective.zone.nombre %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @objective.classification.nombre %>
</p>

<<<<<<< HEAD
<%= link_to 'Editar', edit_objective_path(@objective) %> |
<%= link_to 'Volver', objectives_path %>
=======
<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>

>>>>>>> 81b014aef9b40a902670bd55a9d2b7177738e5c2
