<% content_for :content_header do %>
    <section class="content-header">
      <p id="notice"><%= notice %></p>
      <div class="row">
        <h1>Historial</h1>
      </div>
      <div class="row">
        <span class="pull-left glyphicon glyphicon-plus"><%= link_to 'Crear Historial', new_record_path %></span>
      </div>
    </section>
<% end %>

<section class="content invoice">
<div class="table-responsive">
<table border="1" class="table table-striped">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Beneficiario</th>
      <th>Estado</th>
      <th>Objetivo</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.user.nombre %></td>
        <td><%= record.beneficiary.nombre %></td>
        <td><%= record.state.nombre %></td>
        <td><%= record.objective.texto %></td>
        <td><span class="glyphicon glyphicon-pencil" aria-hidden="true"><%= link_to 'Editar', edit_record_path(record) %></td>
        <td><span class="glyphicon glyphicon-trash" aria-hidden="true"><%= link_to 'Eliminar', record, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</section>
<br>


