
<table>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @record.user.to_s %>
</p>

<p>
  <strong>Beneficiary:</strong>
  <%= @record.beneficiary.to_s %>
</p>

<p>
  <strong>State:</strong>
  <%= @record.state.to_s %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @record.objective.to_s %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
</table>

<p><%= link_to "PDF", record_path(@record, format: "pdf")%></p>

<%= link_to 'Editar', edit_record_path(@record) %> |
<%= link_to 'Volver', records_path %>
<%= link_to "PDF", record_path(@record, format: "pdf")%>
</body>
</html>
