<!DOCTYPE html>
<html>
<head>
	<title>Datos Beneficiario</title>
</head>
<body>
<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @record.user %>
</p>

<p>
  <strong>Beneficiary:</strong>
  <%= @record.beneficiary %>
</p>

<p>
  <strong>State:</strong>
  <%= @record.state %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @record.objective %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
<%= link_to "PDF", records_path (@record, format: "pdf")%>
</body>
</html>
